.quests {
    background-color: rgb(255, 0, 0);
}

.album {
    background-color: rgb(0, 255, 0);
}

.shop {
    background-color: rgb(0, 0, 255);
}

.poker {
    background-color: rgb(255, 255, 255);
}
